### Part 1: Preprocessing Duplicate After Scraping
##### Read data, Removing duplicate and get the frequencies

In [3]:
import pandas as pd

# Read the excel
data = pd.read_excel('./data/1676917147-diseases-17607.xlsx')

# Drop any null values
data = data.dropna(axis=0)

# Delete duplicate while writing the occurence frequency
data = data.groupby(data.columns.tolist(), as_index=False).size().sort_values(by=["size"], ascending=False)

# Show the data
data

FileNotFoundError: [Errno 2] No such file or directory: './data/1676917147-diseases-17607.xlsx'

##### Export result to Excel format

In [2]:
import calendar
import time

num_dis = data.shape[0]
ts = calendar.timegm(time.gmtime())

name = "./data/{}-disease-unique-{}.xlsx".format(ts, num_dis)

data.to_excel(name)

### Part 2: Preprocessing Duplicate After Manual Annotation/Labeling
##### Read data, Limit only to DOID column, Drop NaN values

In [1]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')

df = pd.read_excel('./data/1682736366-disease-unique-3762-annotated.xlsx')

df = df[['DOID']]
df = df.dropna(axis=0)
df

           DOID
0             -
1             -
2             -
3             -
4             -
...         ...
1581  DOID:3151
1582          -
1584          -
1585  DOID:4310
3024  DOID:7540

[1292 rows x 1 columns]

##### Search for mislabel data (human error)

In [2]:
error = df[df["DOID"].str.contains("\t")]
error

Empty DataFrame
Columns: [DOID]
Index: []

In [3]:
error2 = df[~df["DOID"].str.startswith("DOID:")]
error2

     DOID
0       -
1       -
2       -
3       -
4       -
...   ...
1576    -
1577    -
1579    -
1582    -
1584    -

[481 rows x 1 columns]

##### Removing duplicate and get the frequencies

In [4]:
df = df.groupby(df.columns.tolist(), as_index=False).size().sort_values(by=["size"], ascending=False)

df

           DOID  size
0             -   481
166  DOID:10283     7
254   DOID:1324     5
616   DOID:9256     5
483   DOID:5683     5
..          ...   ...
228  DOID:12294     1
229  DOID:12306     1
230  DOID:12323     1
231   DOID:1234     1
641    DOID:998     1

[642 rows x 2 columns]

In [5]:
df = df[~df["DOID"].str.match("-")]
df

             DOID  size
166    DOID:10283     7
254     DOID:1324     5
616     DOID:9256     5
483     DOID:5683     5
104  DOID:0080600     4
..            ...   ...
228    DOID:12294     1
229    DOID:12306     1
230    DOID:12323     1
231     DOID:1234     1
641      DOID:998     1

[641 rows x 2 columns]

##### Export result to Excel format

In [6]:
import calendar
import time

num_dis = df.shape[0]
ts = calendar.timegm(time.gmtime())

name = "./data/{}-DOID-unique-{}.xlsx".format(ts, num_dis)

df.to_excel(name)